body{
margin:0;
font-family:Arial;
}

/* HOME PAGE */

.home{
background-image:url("images/bg.png");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
height:100vh;
color:white;
text-align:center;
}

.logo{
position:absolute;
top:20px;
left:20px;
display:flex;
align-items:center;
}

.logo img{
width:70px;
margin-right:10px;
}

.center{
margin-top:260px;
}

.description{
width:600px;
margin:auto;
font-size:18px;
  color:black;
  margin-top:20px;
}

.start{
margin-top:50px;
padding:15px 40px;
font-size:18px;
background:#007BFF;
color:white;
border:none;
cursor:pointer;
}

/* FORM PAGE */

.form-container{
width:400px;
margin:auto;
margin-top:80px;
display:flex;
flex-direction:column;
gap:12px;
}

input,textarea{
padding:10px;
font-size:16px;
}

/* RESUME */

#resume{
width:700px;
margin:auto;
margin-top:40px;
padding:20px;
border:1px solid #ccc;
}

.header{
display:flex;
align-items:center;
gap:20px;
}

.header img{
width:120px;
height:120px;
object-fit:cover;
}
