body{
margin:0;
font-family:Arial;
}

.home{
background-image:url("images/bg.png");
background-size:cover;
height:100vh;
color:white;
text-align:center;
}

.logo{
position:absolute;
top:20px;
left:20px;
display:flex;
align-items:center;
}

.logo img{
width:60px;
margin-right:10px;
}

.center{
margin-top:200px;
}

.start{
padding:15px 40px;
font-size:18px;
background:#007BFF;
color:white;
border:none;
cursor:pointer;
}

.form-container{
width:400px;
margin:auto;
margin-top:80px;
display:flex;
flex-direction:column;
gap:10px;
}

input,textarea{
padding:10px;
font-size:16px;
}

#resume{
width:700px;
margin:auto;
padding:20px;
border:1px solid gray;
}

.header{
display:flex;
align-items:center;
gap:20px;
}

.header img{
width:100px;
height:100px;
object-fit:cover;
}

button{
padding:12px 25px;
font-size:16px;
margin-top:20px;
cursor:pointer;
}
